#settings_plugin_eeprom_repetier_table thead th{position:sticky; top: 0; background: #777}
#settings_plugin_eeprom_repetier_table tbody td input{margin-bottom: 0px;}
#settings_plugin_eeprom_repetier_table tbody td code{color:#000}
#settings_plugin_eeprom_repetier_table .settings_plugin_eeprom_repetier_actions {width:75px; text-align:center}
