<div style="height: 95%; display: block; position: absolute;">
<h3>EEPROM Editor for Repetier</h3>

<div class="tabbable" data-bind="visible: isRepetierFirmware()" style="padding-top: 1px">
    <ul class="nav nav-pills">
        <li class="active"><a href="#tabEeprom" data-toggle="tab">EEPROM Contents</a></li>
        <li><a href="#tabBackup" data-toggle="tab" data-bind="click: listBackups">Backups</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tabEeprom">
            {% include 'settings_tab_eeprom.jinja2' %}
        </div>
        <div class="tab-pane" id="tabBackup">
            {% include 'settings_tab_backup.jinja2' %}
        </div>
    </div>
</div>

</div>
