<form class="form-horizontal" data-bind="visible: isConnected() && isRepetierFirmware()">
    <button class="btn" title="Backup the current values" data-bind="enable: isRepetierFirmware(), click: backupCurrent">Create Backup</button>
    Backup the displayed EEPROM values to a file. NOTE: this may include unsaved changes.
</form>

<h4>Existing backups</h4>
<p>These are the backups of your EEPROM settings that already exist on this OctoPrint instance. You may delete, download or restore them.</p>

<div style="overflow-y: auto; max-height: 300px;">
    <table class="table table-condensed table-hover" id="settings_plugin_eeprom_repetier_table">
        <thead>
        <tr>
            <th>Name</th>
            <th class="settings_plugin_eeprom_repetier_actions">Action</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: backupFiles" >
        <tr>
            <td data-bind="text: name"></td>
            <td class="settings_plugin_eeprom_repetier_actions">
                <a href="javascript:void(0)" title="Delete" class="far fa-trash-alt" data-bind="click: function() { $root.removeBackup($data.name) }"></a>&nbsp;|&nbsp;
                <a href="javascript:void(0)" title="Download" class="fas fa-download" data-bind="attr: {href: url}"></a>&nbsp;|&nbsp;
                <a href="javascript:void(0)" title="Restore" class="fas fa-sync" data-bind="visible: $root.isConnected(), click: function() { $root.restoreBackup($data.name) }"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
