<p>This allows you to get, change and save the values in the EEPROM of your Repetier Firmware based machine.<br>
<span style data-bind="visible: !isConnected()">Your printer is <span style="color: red">not</span> connected.<br></span>
<span style data-bind="visible: isConnected()">Your printer is <span style="color: red" data-bind="visible: !isRepetierFirmware()">not</span> Repetier Firmware based.<br>
</span>
</p>

<form class="form-inline" data-bind="visible: isConnected() && isRepetierFirmware()">
    <button class="btn" title="Load the current EEPROM values" data-bind="enable: isRepetierFirmware(), click: loadEeprom">Load EEPROM</button>
    <button class="btn" title="Save any changes back to the EEPROM" data-bind="enable: (isRepetierFirmware() && eepromData().length > 0), click: saveEeprom">Save EEPROM</button>
    <button class="btn" title="Set the EEPROM values to the config defaults and activate them" data-bind="enable: isRepetierFirmware(), click: resetEeprom">Reset EEPROM</button>
    <label data-bind="visible: eepromData().length > 0"><input data-bind='checked: showOriginalValues' type='checkbox' /> Show stored values</label> 
</form>

<div style="overflow-y: auto; max-height: 320px;">
    <table class="table table-condensed table-hover" id="settings_plugin_eeprom_repetier_eeprom_table">
        <thead>
        <tr>
            <th>Parameter Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody data-bind="foreach: eepromData" >
        <tr>
            <td data-bind="text: description"></td>
            <td>
                <form class="form-horizontal">
                    <input type="text" class="input-block-level" data-bind="value: value, attr: { 'id': position, 'title': origValue }">
                    <code data-bind="visible: $root.showOriginalValues, text: origValue"></code>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

